<%= link_to "Ask a question", ask_path %>
<div class="container">
<div class="you">
<h3>You</h3>
<h5><%= @question %></h5>
</div>


<div class="coach">
<h3>Stupid Coach</h3>
<h5><%= @coach_answer %></h5>
</div>
</div>
