
<h4>Ask your stupid question</h4>
<form action="/answer" method="get" id="form">
  <input type="text" name="question" placeholder="question">
  <input type="submit" class="btn" value="Ask!">
</form>
